<ion-view view-title="我的信息">
<ion-content>
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">姓名</span>
    <input type="text" placeholder="姓名">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">联系电话</span>
    <input type="text" placeholder="联系电话">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">驾驶车辆</span>
    <input type="text" placeholder="驾驶车辆">
  </label>
</div>
	<div class="list">
	<div class="item item-divider">
    		我的任务
  	</div>
  	<a class="item" href="#">
      配载清单
      <span class="badge badge-assertive">10</span>
  	</a>
  	<a class="item" href="#">
      车辆信息
  	</a>
	</div>
  </ion-content>
</ion-view>